/* Root styles for the entire application. */
:root {
    /* main colors */
    --primary: #28a696;
    --tertiary: #5869fc;
    --alert: #e84f4f;
    /* button state colors */
    --primary-dark: #229082;
    --primary-darker: #1e8174;
    --primary-focus: rgb(40 166 150 / 50%);
    --tertiary-dark: #2c41fb;
    --tertiary-darker: #0f26fa;
    --tertiary-focus: rgb(88 105 252 / 50%);
    --alert-dark: #e32b2b;
    --alert-darker: #d61c1c;
    --alert-focus: rgb(227 43 43 / 50%);
    /* text on all filled buttons */
    --button-text: #ffffff;
    /* tag colors */
    --tag-1: #e0726e;
    --tag-2: #f78d8d;
    --tag-3: #ff9a6f;
    --tag-4: #fcb55f;
    --tag-5: #f2cd5c;
    --tag-6: #cbe364;
    --tag-7: #80c6ba;
    --tag-8: #88c9f2;
    --tag-9: #99aff2;
    --tag-10: #c195db;
    --tag-11: #f2a7c3;
    --tag-12: #c6c4c4;
    --tag-text: #212323;
    /* drop shadow */
    --drop-shadow: rgba(0, 0, 0, 0.15);

    /* z-index layers */
    --segmented-button-focus-z: 1;
    --taggroup-overflow-z: 2;
    --modal-backdrop-z: 3;
    --modal-z: 4;
    --toast-z: 5;
}
.light-mode {
    /* button colors */
    --secondary: #1761b5;
    --secondary-dark: #14549d;
    --secondary-darker: #114b8d;
    --secondary-focus: rgb(23 97 181 / 50%);
    --secondary-hover: rgb(23 97 181 / 20%);
    /* light mode backgrounds */
    --background: #F0F0F0;
    --background1: #ffffff;
    --background2: #e9e9e9;
    --background2-dark: #cacaca;
    --background2-darker: #b5b5b5;
    --background2-focus: rgb(202 202 202 / 50%);
    /* light mode text */
    --text1: #212323;
    --text2: #666768;
    --text3: #a7a8a9;
}
.dark-mode {
    /* button colors */
    --secondary: #4f96e8;
    --secondary-dark: #2b80e3;
    --secondary-darker: #1c72d6;
    --secondary-focus: rgb(79 150 232 / 50%);
    --secondary-hover: rgb(79 150 232 / 20%);
    /* dark mode backgrounds */
    --background: #212323;
    --background1: #2f3132;
    --background2: #3e4142;
    --background2-dark: #565a5b;
    --background2-darker: #666a6c;
    --background2-focus: rgb(86 90 91 / 50%);
    /* dark mode text */
    --text1: #ffffff;
    --text2: #a7a8a9;
    --text3: #717373;
}

/* Site-wide styles */
body {
    background-color: var(--background);
}

/* Typography */
body,
input[type="text"] {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    color: var(--text1);
    font-style: normal;
}
h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

/* Horizontal rule */
hr {
    border: none;
    border-top: 1px solid var(--text3);
}

/**
 * Improved screen reader only CSS class
 * @author Gaël Poupard
 */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
